/* 1440px > inf */
@media screen and (max-width: 1440px){
    .container{
        max-width: 100% ;
    }
    
}
/* 0 < 480px */
@media screen and (max-width: 480px){
    .row {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .lessons .col {
        width: 100%;
    }
    .steps .col {
        width: 100%;
    }
}